.editing {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 15px 15px;
}

.check-all {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
  column-gap: 8px;
  & input {
    &:hover {
      cursor: pointer;
    }
  }
}

.actions {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
  column-gap: 10px;
  color: #5f6368;
  font-size: large;
  &:hover {
    cursor: pointer;
  }
}

.count {
  font-weight: bold;
}
