.edit-panel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 15px 25px;
}

.select-users {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
  column-gap: 8px;
  & input {
    &:hover {
      cursor: pointer;
    }
  }
}

.edit-options {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
  column-gap: 20px;
  color: #5f6368;
  font-size: large;
  & i {
    &:hover {
      cursor: pointer;
    }
  }
}

.count {
  font-weight: bold;
}
